<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="pl.redblue.warszawa">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".main.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".communication.CommunicationActivity"
            android:label="@string/title_activity_communication"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".places.FireBaseActivity" />
        <activity android:name=".places.SingleFullPlace" />
        <activity android:name=".party.PartyMainActivity" />
        <activity android:name=".party.SinglePartyActivity" />
        <activity android:name=".restaurant.RestaurantSingleActivity" />
        <activity android:name=".restaurant.RestaurantActivity" />
        <activity android:name=".bar.BarActivity" />
        <activity android:name=".bar.SingleBarActivity"></activity>
    </application>

</manifest>